@font-face {
  font-family: "Proxima Nova";
  src: url(../assets/font/ProximaNovaT-Thin.woff);
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../assets/font/ProximaNova-Bold.woff);
}

:root {
  --title-color: #181818;
  --gray-color: #7B7B7B;
  --orange-color: #FE5F1E;
  --white-color: #fff;
  --f9-color: #F9F9F9;
  --nav-btn-color: #2C2C2C;
  --black-color: #000;
  --gray-f3: #F3F3F3;
  --gray-b6: #B6B6B6;
  --gray-8b: #8D8D8D;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  border: none;
  background: var(--transparent);
}


.body {
  background: #FFDF8C;
  padding: 50px 0 70px;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1340px;
  background: #FFF;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.header {
  margin-left: 77px;
  margin-bottom: 40px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F6F6F6;
  height: 140px;
}

.title__wrap {
  display: flex;
  align-items: center;
  gap: 17px;
}

.header__title-box {}

.header__title {
  color: var(--title-color);
  font-family: "Proxima Nova Bold";
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.header__subtitle {
  color: var(--gray-color);
  font-family: "Proxima Nova";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__btn {
  background: var(--orange-color);
  border-radius: 30px;
  width: 150px;
  height: 50px;
  border: none;
  color: var(--white-color);
  font-family: "Proxima Nova";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 38px;
  text-decoration: none;
}

.header__price {
  padding-right: 13px;
  border-right: solid 1px rgba(255, 255, 255, 0.25);
}

.header__basket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__basket::before {
  text-align: center;
  content: "";
  background: url(../assets/img/shopping.svg) no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 8px 0 13px;
}

/* ==================================== */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 47px 32px 67px;
}

.navigation__btns-box {
  display: flex;
  align-items: center;
  gap: 9px;
}

.navigation__btn {
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: var(--nav-btn-color);
  text-align: center;
  font-family: "Proxima Nova Bold";
  font-weight: 700;
  letter-spacing: 0.24px;
  background: var(--f9-color);
  cursor: pointer;
  transition: all 200ms linear;
}

.navigation__btn_active {
  background: #282828;
  color: var(--white-color);
}

.navigation__sort {}

.sort__btn {
  margin-right: 6px;
}

.sort__title {
  color: var(--nav-btn-color);
  font-family: "Proxima Nova Bold";
  font-size: 0.9rem;
  letter-spacing: 0.21px;
  margin-right: 8px;
}

.sort__select {
  border: none;
  color: var(--orange-color);
  font-family: "Proxima Nova";
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.21px;
  border-bottom: 1px dashed #FE5F1E;
}

.sort__param {
  color: var(--black-color);
  font-family: "Proxima Nova";
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.21px;
}



/* ==================================== */

.container__inner {
  margin: 0 auto;
  max-width: 1340px;
}

.menu {
  margin-left: 67px;
}

.menu__title {
  color: var(--black-color);
  font-family: "Proxima Nova Bold";
  font-size: 2rem;
  letter-spacing: 0.32px;
  margin-bottom: 35px;
}

.menu__inner {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 15px;
}

.menu__card {
  min-width: 280px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__img {
  margin-bottom: 11px;
}

.card__title {
  color: var(--black-color);
  font-family: "Proxima Nova Bold";
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  margin-bottom: 22px;
}

.card__buttons {
  background: var(--gray-f3);
  width: 100%;
  height: 100%;
  padding: 7px 5px;
  margin-bottom: 17px;
}

.card__types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  margin-bottom: 7px;
}

.card__size {
  /*   display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px; */
  display: flex;
  gap: 5px;
}

.card__btn {
  flex: 1 1 auto;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  border: none;
  height: 32px;
  transition: background 200ms linear;
}

.card__btn_active {
  background: var(--white-color);
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__price {
  color: var(--black-color);
  font-family: "Proxima Nova Bold";
  font-size: 1.4rem;
  letter-spacing: 0.33px;
  font-weight: 700;
  cursor: pointer;
}

.card__add {
  border-radius: 30px;
  border: 1px solid var(--orange-color);
  background: #FFF;
  color: var(--orange-color);
  width: 155px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 200ms linear;
}

.card__add:active {
  transform: translateY(5px);
}

.card__add:hover {
  border-color: #b73b0a;
  color: #b73b0a;
}

.card__add:hover .card__add-count {
  background: #b73b0a;
}

.card__add-plus {
  margin-right: 8px;
}

.card__add-count {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--orange-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {

  .container {
    max-width: 1000px;
  }

  .navigation__btns-box {
    flex-wrap: wrap;
  }

  .menu {
    margin-left: 20px;
  }
}

@media (max-width: 1050px) {

  .container {
    max-width: 960px;
    padding: 0 10px;
  }

}


@media (max-width: 630px) {
  html {
    font-size: 14px;
  }

  .header {
    margin-left: 0;
    padding: 5px;
  }

  .navigation {
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 5px;
  }

  .menu__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .header__inner {
    height: initial;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: space-between;
    padding-top: 10px;
  }

  .title__wrap {
    align-self: center;
  }

  .header__btn {
    justify-self: center;
  }
}