.circle_skeleton {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #aaa;
    opacity: 0.5;
}

.card__title_skeleton {
    background: #aaa;
    opacity: 0.5;
    width: 150px;
    height: 20px;
}

.card__btn_skeleton {
    background: #aaa;
    opacity: 0.5;
}

.card__price_skeleton {
    background: #aaa;
    opacity: 0.5;
    width: 87px;
    height: 20px;
    margin-left: 5px;
}

.card__add_skeleton {
    background: #aaa;
    opacity: 0.5;
    width: 155px;
    height: 40px;
    border: none;
}